<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Tiendas Cercanas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tiendas Cercanas</ion-title>
    </ion-toolbar>
  </ion-header>

  <button (click)="getLocation()">Obtener mi ubicación</button>

  <!-- Contenedor del mapa -->
  <div id="map" style="height: 100%; width: 100%;"></div>
</ion-content>
